<h1>Thêm sinh viên</h1>
<form action="/add" method="POST">
    maSinhVien: <input type="text" name="maSinhVien"><br> ngaySinh: <input type="text" name="ngaySinh"><br> gioiTinh: <input type="text" name="gioiTinh"><br> queQuan: <input type="text" name="queQuan"><br>
    <button type="submit">Thêm sinh viên</button>

</form>